<html>
  <head>
    <title>Изменение пароля в ReTarget</title>
  </head>
  <body>
    <h1>Ваш код изменения пароля: {{Code}}</h1>
    <p>Пожалуйста, используйте этот код для изменения пароля.</p>
  </body>
</html>