<html>
  <head>
    <title>Уведомление о низком балансе ReTarget</title>
  </head>
  <body>
    <h1>Баланс вашего аккаунта критически мал: {{Code}}</h1>
    <h1>TODO: В идеале ссылку на пополнение</h1>
    <p>Если деньги на счет кончатся, ваши объявления будут выключены из показа</p>
  </body>
</html>