<html>
  <head>
    <title>Уведомление о низком балансе ReTarget</title>
  </head>
  <body>
    <h1>Здравствуйте, владелец аккаунта {{Username}}</h1>
    <h1>Баланс вашего аккаунта критически мал: {{Balance}} Руб.</h1>
    <h1>Пополните баланс в профиле аккаунта: <a>{{Href}}</a></h1>
    <p>Если деньги на счет кончатся, ваши объявления будут выключены из показа</p>
  </body>
</html>