<html>
  <head>
    <title>Регистрация в ReTarget</title>
  </head>
  <body>
    <h1>TODO: свёрстать нормальные письма</h1>
    <h1>Ваш регистрационный код: {{Code}}</h1>
    <p>Пожалуйста, используйте этот код для завершения регистрации.</p>
  </body>
</html>