<html>
  <head>
    <title>Сброс пароля в ReTarget</title>
  </head>
  <body>
    <h1>Ваш код сброса пароля: {{Code}}</h1>
    <p>Пожалуйста, используйте этот код для сброса пароля.</p>
  </body>
</html>