<html>
  <head>
    <title>Пополнение баланса ReTarget</title>
  </head>
  <body>
    <h1>Баланс вашего аккаунта: {{Code}}</h1>
    <p>Был пополнен успешно, деньги поступят на ваш баланс в течении 1 минуты</p>
  </body>
</html>