<html>
  <head>
    <title>Пополнение баланса ReTarget</title>
  </head>
  <body>
    <h1>Здравствуйте, владелец аккаунта {{Username}}</h1>
    <h1>Баланс вашего аккаунта пополнен на {{Amount}} Руб.</h1>
    <p>Операция прошла успешно, деньги поступят на ваш баланс в течении 1 минуты</p>
  </body>
</html>